a{
    color:black;
    text-decoration: none;
}
.sec-navegar{
    margin: 10px auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.089);
    padding: 10px;
}
.sec-navegar--item{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100px; 
}
.sec-navegar--item p, .sec-navegar--item img{
    transition: .3s;
}
.sec-navegar--item img{
    min-height: 30px ;
    max-height: 30px ;
}

.sec-navegar--item:hover > p{
    font-size: 18px;
}

.sec-navegar--item:hover > img{
    min-height: 32px;
}

.sec-navegar--span{
    display: block;
    height: 30px;
    width: 2px;
    background-color: black;    
    margin: 10px;
}

/*main#############################################333*/


.main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main--projetos{
    justify-content:flex-start;
    flex-wrap: wrap;
}
.main--recentes{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.main--projetos{
    width: 90%;
    display: flex;
    padding: 50px;
    align-items: center;
}

.main--projetos--item{
    height: 250px;
    border-radius: 30px;
    width: 300px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.082);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 20px;
    transition: 0.3s;
}
.main--projetos--item p{
    margin-top: 10px;
}
.main--projetos--item img{
    display: block;
    height: 70%;
    margin-bottom: 10px;
}

.main--projetos--descricao{
    width: 100%;
    height: 30%;
    background-color: white;
    z-index: 3;
    margin-top: -30%;
    border-radius: 0px 0px 30px 30px;
    padding: 5px;
    font-size: 13px;
    box-shadow: 0px 0px 60px -12px rgba(0, 0, 0, 0.15);
}
.main--projetos a:hover > .main--projetos--item{
    box-shadow: 0px 0px 15px 1px #2393dda6;

}
.sec-navegar--item:hover{
    cursor: pointer;
}
/* pop-up upload######################################################################################## */
.popup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup--background{  
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    align-items: center;
    width: 100%;
    height: 0vh;
    background-color: rgba(112, 112, 112, 0.459);
    transition: .5s;
}
.upload{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    margin: 0 auto;
    background-color: white;
    border-radius: 40px;
    position: fixed;
}
#titulo-projeto{
    margin-top: 10px;
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    padding: 4px;
    font-size: 16px;
    margin-bottom: 30px;
}
.upload textarea{
    margin-top: 10px;
    margin-bottom: 30px;
}
.upload--logo{
    height: 80px;
    margin-top: -100px;
}
.upload--form{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
}
.upload--cancelar{
    height: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}
.upload--submit{
    border: none;
}
.upload--submit{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
}
/* .upload--file{
    display: none;
} */
.upload--label{
    padding: 10px 10px;
    width: 150px;
    border: 2px solid #333;
    font-size: 15px;
    border-radius: 10px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: white;
    margin-right: -115px;
    z-index: 1;
    line-height: 20px;
    transition: .3s;
}
.upload--label:hover{
    background-color: #333;
    box-shadow: 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
    color: white;
}
.upload--div{
    display: flex;
    align-items: center;

}
.main--projetos--titulo_data{
    display: flex;
}

@media screen and (max-width:420px) {
    .sec-navegar{
        flex-direction: column;
    }
    .sec-navegar--span{
        height: 2px;
        width: 80%;
    }
}