.menu, .main, .main2{
    width: 100%;
}
.center{
    width: 80%;
    margin: 0 auto;
}
/*
.menu{
    position: absolute;
}
*/
.c-laranja{
    color: #f87817;
}
.bold{
    font-weight: 700;
}
/*menu###################################################################*/
.menu--bars{
    height: 40px;
    display: none;
}
.menu--bars.close{
    height: 25px;
}
.header{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
.header--sidebar{
    display: flex;
    align-items: center;
}
.header--sidebar li, p{
    margin-left: 20px;
}
.header--logo{
    height: 80px;
}
.header--user{
    height: 35px;    
}
.header a{
    color: black;
    text-decoration: none;
    transition: .3s;
    font-size: 17px;
}
.header--azul{
    border-radius: 20px;
    padding: 5px 6px;
    background-color:#2392DD;
    transition: .3s;
}

.header--azul a {
    color: white;
}
.header--sidebar--nomeuser{
    transition: .3s;
}
.header--sidebar li a:hover,.header--sidebar--nomeuser:hover{
    font-size: 19px;
}

.header--azul:hover > a{
    color: black;
}
.header--azul:hover{
    font-size: 17px;
    background-color:white;
    padding: 7px 12px;
    box-shadow: 0px 0px 8px 2px #2392DD;
    cursor: pointer;
}
.header--div--login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header--div_seta{
    height: 30px;
    width: 30px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
    background-color: white;
    z-index: 1;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    top: -10px;
}
.header--div_login{
    display: none;
    position: absolute;
    top: 90px;
    right: 100px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.253);
    background-color: white;
    width: 15%;
    height: 90px;
    opacity: 0;
    transition: .2s;
}
.header--div_login.active{
    top: 80px;
    opacity: 1;
}
.header--div_links{
    height: inherit;
    width: inherit;
    padding: 10px;
    z-index: 2;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.header--div_links p{
    padding: 2px;
    transition: .4s;
    margin: 0;
}
.header--div_links p:nth-child(n+1):hover{
    color: #2392DD;
}
/*conteudo###############################################################*/

.main{
    background-image: url(../imgs/lacunas.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.main--textos{
    margin-top: 110px;
    margin-bottom: 40px;
    min-height: 800px;
    height: 100%;
    display: flex;    
    flex-direction: column;
    justify-content: space-around;

}
.main--titulo, .main1--textos h1{
    font-size: 50px;
    width: 50%;
    line-height: 80px;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 300;
}
.main--titulo br{
    display: none;
}
/*
.main--titulo::after{
    content: '';
    margin: 75px 0;
    display: block;
}
*/

.main--texto, .main1--textos p, .main2--textos p{
    font-size: 20px;
    width: 50%;
    text-align: justify;
    line-height: 40px;
    margin: 0;
}
.main--lacunas{    
    height: 70vh;
    background-image: url(../imgs/lacunas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right;
}

.main--botao{
    outline: none;
    background-color: #2392DD;
    border-radius: 10px;
    color: white;
    border: 2px solid #2392DD;
    height: 60px;
    margin-top: 20px;
    width: 170px;
    transition: .3s;
    font-size: 17px;
    cursor: pointer;
}

.main--botao:hover{
    background-color: white;
    box-shadow: 0px 0px 8px 2px #2392DD;
    font-size: 19px;
    color: black;
}
@media screen and (max-width:1100px) {
    .main{
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main--titulo, .main--texto{
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
    .main a{
        margin: 0 auto;
    }
}
@media screen and (max-width:970px){
    .main, .menu{
        width: 100%;
    }
    .menu{
        position: relative;
    }
    .main--titulo br{
        display: block;
    }
    .main--titulo, .main--textos{
        margin: 0 auto;
        width: 100%;
        padding: 20px;
    }
    .main--titulo{
        font-size: 60px;
        line-height: 80px;
    }
    .menu--bars{
        display: block;
    }
    .menu--section{
        position: fixed;
        width: 200px;
        height: 100vh;
        backdrop-filter:blur(4px) saturate(50%);
        background-color: rgba(0, 0, 0, 0.356);
        right: -300px;
        top: 0;
        padding: 20px;
        transition: .5s;
    }
    .menu--section.active{
        right: 0;
    }
    .header--sidebar{        
        align-items: center;
        flex-direction: column;
    }
    .header--sidebar li, p{
        margin: 10px 0;
    }
    .header--user{
        display: none;
    }
    .header a, .header--sidebar--nomeuser{
        color: white;
    }
    .header--sidebar a{
        font-size: 20px;
    }
    .header--sidebar li:nth-child(n+1)::before{
        content: '';
        height: 2px;
        width: 100%;
        display: block;
        margin: 10px auto;
        background-color: white;
    }
}

@media screen and (max-width:600px){
    .header--logo{
        height: 50px;
    }
    .menu--bars{
        height: 35px;
    }
    .main--titulo{
        font-size: 40px;
        line-height: 60px;
    }
}
@media screen and (max-width:390px){
    .main--titulo{
        font-size: 30px;
        line-height: 40px;
    }
}