.menu, .main, .main2{
    width: 100%;
}
.center{
    width: 80%;
    margin: 0 auto;
}

.menu{
    position: absolute;
}

.c-laranja{
    color: #f87817;
}
.bold{
    font-weight: 700;
}
/*menu###################################################################*/

.header{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
.header--sidebar{
    display: flex;
    align-items: center;
}
.header--sidebar li, .header--sidebar img, p{
    margin-left: 20px;
}
.header--logo{
    height: 80px;
}
.header--user{
    height: 35px;    
}
.header a{
    color: black;
    text-decoration: none;
    transition: .3s;
    font-size: 17px;
}
.header--cadastrar{
    border-radius: 20px;
    padding: 5px 6px;
    background-color:#2392DD;
    transition: .3s;
}

.header--cadastrar a {
    color: white;
}

.header--sidebar li a:hover{
    font-size: 20px;
}

.header--cadastrar:hover > a{
    color: black;
}
.header--cadastrar:hover{
    font-size: 17px;
    background-color:white;
    padding: 7px 12px;
    box-shadow: 0px 0px 8px 2px #2392DD;
}

/*conteudo###############################################################*/

.main{
    background-image: url(../imgs/lacunas.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.main--textos{
    margin-top: 110px;
    margin-bottom: 40px;
    min-height: 800px;
    height: 100%;
    display: flex;    
    flex-direction: column;
    justify-content: space-around;

}
.main--titulo{
    font-size: 50px;
    width: 50%;
    line-height: 80px;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 300;
}

/*
.main--titulo::after{
    content: '';
    margin: 75px 0;
    display: block;
}
*/

.main--texto{
    font-size: 20px;
    width: 50%;
    text-align: justify;
    line-height: 40px;
    margin: 0;
}
.main--lacunas{    
    height: 70vh;
    background-image: url(../imgs/lacunas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right;
}

.main--botao{
    outline: none;
    background-color: #2392DD;
    border-radius: 10px;
    color: white;
    border: 2px solid #2392DD;
    height: 60px;
    margin-top: 20px;
    width: 170px;
    transition: .3s;
    font-size: 17px;
    cursor: pointer;
}

.main--botao:hover{
    background-color: white;
    box-shadow: 0px 0px 8px 2px #2392DD;
    font-size: 19px;
    color: black;

}