.main1{
    width: 100%;
    min-height: 80vh;
    background-image: url(../imgs/bg-cidade.png);
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(2,50%);
    align-items: center;
    justify-content: space-between;
}
.main1.m2{
    background:none;
    margin: 30px auto;
}
.main1.m3{
    background-image: url(../imgs/equipe-conversando2.png);
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.main1.m3 .main1--textos{
    width: auto;
}
.main1.m3 h1, .main1.m3 p{
    min-width: 50%;
    display: flex; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main1.m3 p{
    min-width: 80%;
}
.main1--textos, .main2--textos{
    padding: 25px;
    margin: 0 auto;
    grid-column: 1;
    width: 100%;
}
.main2--textos, .main1--textos{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100%;    
    justify-content: space-around;

}
.main1--textos{
    grid-column: 1;
}
.main2--textos p{
    width: 100%;
    margin: 0 auto;
}
.main1--textos h1, .main2--textos h1, .main3--textos h1{
    font-weight: 700;
    font-size: 70px;
}
.main1--textos h1,.main1--textos P{
    width: inherit;
}

.main1 p {
    font-size: 25px;
}
.main2--equipe{
    width: 70%;
    grid-column: 1;
    margin-bottom: -200px;
    margin: 0 auto;
}
.main1--grafico{
    width: 80%;
    grid-column: 2;
    margin: 0 auto;
    margin-bottom: -200px;
}
.m3{
    padding: 10px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer{
    margin-top: 0;
}
.m3 .main3--textos{
    width: 80%;
    display: flex;
    flex-direction: column;
}
#nossa-historia{
    margin-bottom: 40px;
}
@media screen and (max-width:700px) {
    .main1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .main1 h1{
        text-align: center;
    }
    .main2--equipe{
        display: none;
    }
    .main1.m2{
        margin-top: 80px;
    }
    .main1--grafico{
    margin-bottom: -100px;
    max-width: 60%;
    }
}