body{
    background: linear-gradient(174.7deg, #FFFAFA 13.29%, #EFEFEF 89.25%);
    display: flex;
    align-items: center;
}
.c-vermelho{
    color: #f81717;
}
.bold{
    font-weight: 700;
}
/*cadastro######################################################################################################*/
.background{
    background-color: white;
    margin: 0 auto;
    min-height: 500px;
    min-width: 500px;
    background-image: url(../imgs/img-cad2.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: right bottom;
}

.ondinha1{
    height: 150px;
}

.logo{    
    display: flex;
    height: 85px;
    margin: 0 auto;
    margin-top: -140px;
}

/*inputs############################################################################################*/
.cadastro--input, .cadastro--itens{
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
}
.cadastro--input{
    margin-top: 30px;
}
.cadastro input{
    margin-top: 20px;
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    padding: 4px;
    font-size: 16px;
}
.cadastro h1{
    font-size: 20px;
}

img[alt="avancar"]{
    display: flex;
    align-self: end;
}