body{
    background: linear-gradient(174.7deg, #FFFAFA 13.29%, #EFEFEF 89.25%);
    display: flex;
    align-items: center;
}
.c-vermelho{
    color: #f81717;
}
.bold{
    font-weight: 700;
}
/*cadastro######################################################################################################*/
.background{
    background-color: white;
    margin: 0 auto;
    min-height: 500px;
    min-width: 500px;
    background-image: url(../imgs/img-cad2.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: right bottom;
}

.ondinha1{
    height: 150px;
}
.ondinha1.voltar{
    cursor: pointer;
}
.logo{    
    display: flex;
    height: 85px;
    margin: 0 auto;
    margin-top: -140px;
}

/*inputs############################################################################################*/
.cadastro--input, .cadastro--itens, .cadastro, .cadastro--itens form{
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
}
.cadastro--input{
    margin-top: 20px;
}
.cadastro--input p{
    margin-top: 5px;
    color: #f81717;
    font-size: 13px;
}
.cadastro input{
    margin-top: 10px;
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    padding: 4px;
    font-size: 16px;
}
.input:focus + .input__efeito{
    width: 60%;
}
.cadastro h1{
    font-size: 20px;
}
.input__efeito{
    display: block;
    margin-top: -1px;
    height: 2px;
    width: 0;
    background-color: #2392DD;
    transition: .3s;
}
.cadastro--link{
    margin-top: 10px;
    font-size:13px;
    color: black;
    text-decoration: none;
    transition: .3s;
}
.cadastro--link:hover{
    text-decoration: underline;
    color: #2392DD;
}
.cadastro--submit{
    /* topo | direita | inferior | esquerda */
    cursor: pointer;
    margin: 30px 0 0 auto;
    display: flex;
    padding: 20px;
}
input[type="submit"]{
    display: none;
}
.finalizar{    
    cursor: pointer;
    margin: 30px 0 0 auto;
    display: block;
    padding: 20px;
    border: none;
    background:none;
}
/*inputs2#############################################################################################################*/
.cadastro--input--radios{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 50%;
    margin: 20px 0;
}
.cadastro--input--radio{
    display: flex;
    align-items: center;
}
.cadastro--input--radio input{
    margin:0;
}
.cadastro--input--radio label{
    margin-left: 10px;
    font-size: 13px;
    display: block;
}
.xizinho, .bolinha{
    height: 10px;
}
.cadastro--input--opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.cadastro--input__ativada{
    color: black;
    display: none;
}
.cadastro--input--opcao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cadastro--input--opcao:nth-last-child(n+1){
    margin-bottom: 30px;
}
.cadastro--input--opcao p{    
    color: black;
}